dwlb
config.h
*.o
wlr-layer-shell-unstable-v1-protocol.c
wlr-layer-shell-unstable-v1-protocol.h
xdg-shell-protocol.c
xdg-shell-protocol.h
xdg-output-unstable-v1-protocol.c
xdg-output-unstable-v1-protocol.h
dwl-ipc-unstable-v2-protocol.c
dwl-ipc-unstable-v2-protocol.h
